{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4 m-3 p-4 formBorder border">
            <h1 class="text-center p-3 formTitle">ZFC Login</h1>
            <form action="" method="POST">
                {%csrf_token%}
                <div class="mb-3 p-2">
                    <input aria-describedby="emailHelp" class="form-control" name="username" placeholder="Username"
                           type="text">
                </div>
                <div class="mb-3 p-2">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <button class="primaryAction mt-2 mb-3 btn btn-primary text-white formSubmitButton" type="submit">Sign
                    In
                </button> &nbsp; &nbsp;
                <br/>
            </form>
            <p>
                Don't have account? &nbsp;
                <a class="btn btn-outline-info" href="{% url 'vmsRegister'%}">
                Sign Up!
            </a>
            </p>




        </div>
    </div>
</div>

{% endblock %}