{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row p-2 mb-3">
        <div class="col-sm-3">
        </div>

        <div class="col-sm-5 border m-2 p-4 formBorder">
            <h2 class="text-center formTitle">Sign Up!</h2>
            <form action="{% url 'vmsRegister' %}" method="POST">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Firstname:</span>
                    {% render_field form.first_name class="form-control"%}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Lastname:</span>
                    {% render_field form.last_name class="form-control"%}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Username:</span>
                    {% render_field form.username class="form-control"%}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Password:</span>
                    {% render_field form.password1 class="form-control" type="password" id="myInput"%}
                    <input type="checkbox" onclick="myFunction()" style="margin-left:2px; width:25px;"><small>Show Password</small>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Password Confirmation:</span>
                    {% render_field form.password2 class="form-control" type="password" id="myInput2"%}
                    <input type="checkbox" onclick="myFunction2()" style="margin-left:2px; width:25px;"><small>Show Password</small>
                </div>
                <a class="btn btn-primary formSubmitButton" href="
                     {{request.META.HTTP_REFERER}}" role="button">Cancel
                 </a>
                <input aria-controls="offcanvasTop" class="btn btn-primary formSubmitButton"
                       data-bs-target="#offcanvasTop" data-bs-toggle="offcanvas"
                       type="submit" value="Submit"/>

            </form>
<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

    function myFunction2() {
  var x = document.getElementById("myInput2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>


        </div>
    </div>
</div>

{% endblock %}
