{% extends 'core/base.html' %}
{% block content %}
<meta content="15" http-equiv="refresh">
<div class="row m-2 p-2">

    <div class="col-sm-12">
        <button class="btn btn-primary position-relative" type="button">
            Denied
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
               {{visitorDeniedCount}}</span>
        </button>
        <hr>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Company Name</th>
                <th scope="col">Status</th>
                <th scope="col">Date Requested</th>
                <th scope="col">Reason of Denied</th>

            </tr>
            </thead>
            {% for ticket in visitorDenied %}
            <tbody>
            <tr>
                <td>
                    <a class="btn btn-secondary" href="{% url 'zfcPermittedDetails' ticket.id %}">
                        {{ticket.id}}
                    </a>
                </td>
                <td>{{ticket.fullName}}</td>
                <td>{{ticket.companyName }}</td>
                <td>{{ticket.approved}}</td>
                <td>{{ticket.dateFrom}}</td>
                <td>{{ticket.comment}}</td>

            </tr>
            </tbody>
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}