{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    /* This is for requestEditForm.html page */
  #rcorners2 {
  border-bottom: 2px solid double;
  border-radius: 15px 50px;
  padding: 20px;
  box-shadow: 10px 10px 50px lightblue;
  }
</style>
<div class="container">

    <div class="row">

         <div class="col-sm-3">

         </div>

             <div class="col-sm-5 p-3 mt-2 mb-5" id="rcorners2">
                  <h2 class="text-center text-tertiary">Department - Edit</h2>

                <form action="" method="POST">
                    {% csrf_token %}
                    {% if user.is_staff %}
                        <div class="input-group mb-3">
                            {% render_field form.name class="form-control" placeholder="Updated Name" %}
                        </div>

                         <a class="btn btn-primary" href="
                                {{request.META.HTTP_REFERER}}" role="button">Cancel
                         </a>
                           <input aria-controls="offcanvasTop" class="btn btn-primary"
                               data-bs-target="#offcanvasTop" data-bs-toggle="offcanvas"
                           type="submit" value="Update"/>
                    {% else %}
                        <a class="btn btn-primary" href="
                            {{request.META.HTTP_REFERER}}" role="button">Cancel
                        </a>
                    {% endif %}
                </form>
             </div>
    </div>

</div>
{% endblock %}