{% extends 'core/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <button class="btn btn-primary position-relative" type="button">
                    Department
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{userListCount}}</span>
                </button>
                <hr>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                         <th scope="col">Username</th>
                         <th scope="col">Date Joined</th>
                         <th scope="col">Last Login</th>
                         <th scope="col">Active?</th>
                    </tr>
                    </thead>
                    {% for userListed in userList %}
                    <tbody>
                    <tr>
                       <td>{{userListed.first_name}} {{userListed.last_name}}</td>
                        <td>{{userListed.username}}</td>
                         <td>{{userListed.date_joined | timesince}}</td>
                         <td>{{userListed.last_login | timesince}}</td>
                        <td>
                             {% if userListed.is_active == 1 %}
                            <p>Active User</p>
                        {% else %}
                            <p>Disabled Account</p>
                        {% endif %}
                        </td>



                    </tr>
                    </tbody>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>

{% endblock %}